body {
    background-color: rgb(9, 19, 40);
    color: rgb(231, 231, 231);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

div.navBar {
    position: fixed;
    top: 0;
    background-color: rgb(18, 37, 77);
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.navBar a {
    display: inline-block;
    padding: 16px 16px;
    margin-left: -4px;
    text-decoration: none;
    color:white;
}

div.navBar a:hover {
    background-color: rgb(10, 19, 40);
}

header.homeHeader {
    background-color: rgb(18, 37, 77);
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.homeHeader img {
    width: 100%;
}

section {
    background-color: rgb(48, 66, 104);
    padding: 16px;
}

p.statement {
    background-color: #12254d;
    border-radius: 64px;
    font-size: 32px;
    margin: 0px 32px;
    padding: 32px 0px;
}

section.soloProjectStatement {
    text-align: center;
    line-height: 2.0;
    padding: 64px 0px;
}

footer {
    background-color: rgb(7, 9, 13);
    padding: 8px 16px;
}
