body {
    background-color: rgb(9, 19, 40);
    color: rgb(231, 231, 231);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(18, 37, 77);
    padding: 16px;
}

section {
    background-color: rgb(48, 66, 104);
    padding: 16px;
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0px 16px;
}

div {
    background-color: red;
    margin: auto;
    width: 100px;
}

footer {
    background-color: rgb(7, 9, 13);
    padding: 8px 16px;
}
